
@font-face {
    font-family: 'sf_distant_galaxyitalic';
    src: url('../fonts/sfdistantgalaxy-italic-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxy-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxyregular';
    src: url('../fonts/sfdistantgalaxy-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_alternateIt';
    src: url('../fonts/sfdistantgalaxyalternate-it-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxyalternate-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_alternateRg';
    src: url('../fonts/sfdistantgalaxyalternate-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxyalternate-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_altoutlinIt';
    src: url('../fonts/sfdistantgalaxyaltoutline-i-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxyaltoutline-i-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_altoutlinRg';
    src: url('../fonts/sfdistantgalaxyaltoutline-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxyaltoutline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_outlineIt';
    src: url('../fonts/sfdistantgalaxyoutline-ital-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxyoutline-ital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_outlineRg';
    src: url('../fonts/sfdistantgalaxyoutline-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxyoutline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_symbolsIt';
    src: url('../fonts/sfdistantgalaxysymbols-ital-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxysymbols-ital-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'sf_distant_galaxy_symbolsRg';
    src: url('../fonts/sfdistantgalaxysymbols-webfont.woff2') format('woff2'),
         url('../fonts/sfdistantgalaxysymbols-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
